h1 {
	font-size: 250%;
	font-family: arial;
	color: rgb(255, 255, 255);
	text-align: center;
}
h2 {
	font-size: 175%;
	font-family: arial rgb(0, 0, 0);
	color: black;
	text-align: center;
}

p {
	padding: 20px;
	margin-bottom: 20px;
	font-size: 150%;
	font-family: arial black;
	color:white;
}


header {
    width: 100%;
    padding-left: -5px;
	background: rgb(0, 0, 0);
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.container {
    width: 100%;
    max-width: 100vw; /* Ensures the container doesn't exceed the viewport width */
    margin: 0 auto;
    text-align: center;
}
nav ul {
    padding-top: 10px; /* This will add some space between the top of the navbar and the nav items */
}

nav li {
    display: inline-block;
    margin: 0 15px; /* Spacing between nav items */
}

nav a {
    text-decoration: none;
	font-family: 'Arial', sans-serif;
    color: white;
    display: inline-block;
    padding: 10px 20px; /* Button size */
    background: linear-gradient(145deg, #1a1a1a, #0d0d0d);
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #0a0a0a, -5px -5px 15px #242424;
    transition: all 0.3s;
    position: relative;
}

nav a:before,
nav a:after {
    content: '';
    position: absolute;
    width: 0; /* This means the lines will be hidden by default. */
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s;
}

nav a:before {
    top: 0;
    left: 0;
}

nav a:after {
    bottom: 0;
    left: 0;
}

/* This sets the appearance for the lines when hovering over the nav item. */
nav a:hover:before,
nav a:hover:after {
    width: 100%; /* This means the lines will fully appear on hover. */
}
nav a:hover {
    background: linear-gradient(155deg, #0d0d0d, #1a1a1a); /* Slight shift in gradient for hover effect */
    box-shadow: 2px 2px 5px #0a0a0a, -2px -2px 5px #242424;
}


a {
	color: #ffffff;
	text-decoration: underline;
}


.box{
  margin-top: -31px;
  width: 100%;
  height: fit-content;
 
  color: rgb(0, 0, 0);
  font-family:sans-serif;
  text-align: center;
}

.section-1{
  height: 110vh;
  background-image: url(images/stars.jpg);
  background-attachment: fixed;
  background-size: cover;
  
}

.section-2{
  background: #000000;
}

.section-3{
  height: auto;
  background-image: url(wormhole.mp4);
  background-attachment: fixed;
  background-size: cover;
}

.section-4{
  background: #000000;
}

.back-video{
  object-fit: cover;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.section-5{
	height: 100vh;
	background-image: url(images/galaxycrop.jpg);
	background-attachment: fixed;
	background-size: cover;
	
  }